.clearout {
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
	margin-bottom:20px;
}

.nbs-flexisel-item div{width:180px !important;}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    padding:0px;
    list-style-type:none;
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
	background-color:#f9f9f7;
	text-align:center;
}

.nbs-flexisel-item {
    float:left;
    padding:0px;
    position:relative;
}

.nbs-flexisel-item div{
	margin:0px auto; 
	width:256px;
	height:310px;
	}

.nbs-flexisel-item img {
    cursor: pointer;
    position: relative;
	width:180px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 45px;
    height: 45px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.nbs-flexisel-nav-left {
    left: 10px;
	top:130px;
	background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 45'><path fill='%23fb880e' enable-background='new' d='M22.5,43C10.2,43,0.3,33.6,0,22c0,0.2,0,0.3,0,0.5C0,34.9,10.1,45,22.5,45S45,34.9,45,22.5c0-0.2,0-0.3,0-0.5C44.7,33.6,34.8,43,22.5,43z'/><path fill='%23fbb567' enable-background='new' d='M22.5,0C34.9,0,45,9.6,45,21.5S34.9,43,22.5,43S0,33.4,0,21.5S10.1,0,22.5,0z'/><path fill='%23FFFFFF' stroke='%23ffffff' stroke-miterlimit='10' d='M25,15.3l-6.5,7.1l6.5,7.3L23.8,31L16,22.5l7.8-8.5L25,15.3z'/></svg>");
	content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 45'><path fill='%23fb880e' enable-background='new' d='M22.5,43C10.2,43,0.3,33.6,0,22c0,0.2,0,0.3,0,0.5C0,34.9,10.1,45,22.5,45S45,34.9,45,22.5c0-0.2,0-0.3,0-0.5C44.7,33.6,34.8,43,22.5,43z'/><path fill='%23fbb567' enable-background='new' d='M22.5,0C34.9,0,45,9.6,45,21.5S34.9,43,22.5,43S0,33.4,0,21.5S10.1,0,22.5,0z'/><path fill='%23FFFFFF' stroke='%23ffffff' stroke-miterlimit='10' d='M25,15.3l-6.5,7.1l6.5,7.3L23.8,31L16,22.5l7.8-8.5L25,15.3z'/></svg>");
	background-image: url(../00_assets/flexisel-left.png);
}

.nbs-flexisel-nav-right {
    right: 10px;
	top:130px;
	background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 45'><path fill='%23fb880e' d='M22.5,43C10.2,43,0.3,33.6,0,22c0,0.2,0,0.3,0,0.5C0,34.9,10.1,45,22.5,45S45,34.9,45,22.5c0-0.2,0-0.3,0-0.5C44.7,33.6,34.8,43,22.5,43z'/><path fill='%23fbb567' d='M22.5,0C34.9,0,45,9.6,45,21.5C45,33.4,34.9,43,22.5,43S0,33.4,0,21.5C0,9.6,10.1,0,22.5,0z'/><path fill='%23FFFFFF' stroke='%23ffffff' stroke-miterlimit='10' d='M19,29.7l6.5-7.1L19,15.3l1.2-1.3l7.8,8.5L20.2,31L19,29.7z'/></svg>");
    content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 45'><path fill='%23fb880e' d='M22.5,43C10.2,43,0.3,33.6,0,22c0,0.2,0,0.3,0,0.5C0,34.9,10.1,45,22.5,45S45,34.9,45,22.5c0-0.2,0-0.3,0-0.5C44.7,33.6,34.8,43,22.5,43z'/><path fill='%23fbb567' d='M22.5,0C34.9,0,45,9.6,45,21.5C45,33.4,34.9,43,22.5,43S0,33.4,0,21.5C0,9.6,10.1,0,22.5,0z'/><path fill='%23FFFFFF' stroke='%23ffffff' stroke-miterlimit='10' d='M19,29.7l6.5-7.1L19,15.3l1.2-1.3l7.8,8.5L20.2,31L19,29.7z'/></svg>");
	background-image: url(../00_assets/flexisel-right.png);
}